
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }

.Homepage{
text-align: center;
}

.Wrapper {
  vertical-align: middle;
  display: flex;
}
img {
    width:  400px;
    height: 400px;
    border-radius: 20%;
    padding: 0.5px 0.5px;
    box-shadow: 0 0 40px 0px rgba(255, 170, 0, 0.3);
    cursor: pointer;
    transition: transform 0.5s;
    display: table;
    margin-top: 15%;
}
img:hover {
    transform: translateX(-20px);
  }

button {
    background: brown;
    box-sizing: content-box;
    border: 2px solid #111; 
    font-size: 16px;
    font-family: Inter,sans-serif;
    color:white;
    font-weight: 700;
    padding: 18px 25px;
    margin: 30px 0;
    border-radius: 15px;
    width: 8%;
    height: 50%;
    transition: background 0.5s;
    float: right;
    margin-right: 10%;
  }
  button:hover {
    background:#af9a86;
  }
  p {
    margin-left: 30%;
    font-size: 150%;
    margin-top: 1%;
  
  }